Thumbs.db
ehthumbs.db
Desktop.ini

*.classpath
*.project
.settings/
bin/
out/

/target/
/build/
*.class
*.jar
*.war
*.ear

.mvn/
.gradle/
*.log
*.lock

application-dev.properties
application-dev-user-maria.properties
application-dev-user-mysql.properties
application-dev-user-oracle.properties
application-dev-user-postgre.properties

application-dev.yml
application-dev-user-maria.yml
application-dev-user-mysql.yml
application-dev-user-oracle.yml
application-dev-user-postgre.yml

.env

*.db
*.h2.db
*.sqlite

/test-output/
/coverage/
*.tmp
*.cache

*.log

*.swp
*.bak
*.pid
*.gz