# 운영체제 및 에디터 관련
Thumbs.db
ehthumbs.db
Desktop.ini

# IDE 및 개발 도구 설정 파일
*.classpath
*.project
.settings/
.factorypath
HELP.md

# 빌드 결과물 및 출력 디렉토리
bin/
out/
/target/
/build/
*.class
*.jar
*.war
*.ear

# 빌드 도구 관련 디렉토리
.mvn/
.gradle/

# 환경 설정 및 민감 정보
*.lock
.env

application.properties
application-dev-user-maria.properties
application-dev-user-mysql.properties
application-dev-user-oracle.properties
application-dev-user-postgre.properties
application-dev-user-mssql.properties

application-dev.yml
application-dev-user-maria.yml
application-dev-user-mysql.yml
application-dev-user-oracle.yml
application-dev-user-postgre.yml
application-dev-user-mssql.yml

# 데이터베이스 파일
*.db
*.h2.db
*.sqlite

# 테스트 및 커버리지 결과물
/test-output/
/coverage/

# 로그 및 캐시 파일
logs/
*.log
*.tmp
*.cache
*.swp
*.bak
*.pid
*.gz